<!DOCTYPE html>
<html lang="br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tarefas</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <nav></nav>
    <main>
        <body>
            <%- body %>
        </body>
    </main>
    <footer></footer>
</html>